DATABASE_URL="postgresql://postgres:1403313008pP@@@db.rbvqltnzelzjiajztrbe.supabase.co:5432/postgres"
AUTH_SECRET="replace-with-secure-secret"
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
NEXTAUTH_URL="http://localhost:3000"
STRIPE_SECRET_KEY=""
RAZORPAY_KEY_ID=""
RAZORPAY_KEY_SECRET=""
CLOUDINARY_URL=""
